%h2 Админы
%table{width: '100%'}
  %thead
    %tr
      %th{width: '10%'} бот
      %th{width: '15%'} админ
      %th зарегался
      %th
      %th
  %tbody.no-shadow
    - @admins.each do |acc|
      - c = Client[acc.client]
      - b = Bot[c.bot]
      %tr{class: c.is_beneficiary?(hb_bot) ? 'disputed' : ''}
        %td
          = icn('b')
          = b.tele
        %td
          = icn('id')
          = c.id
          %a.blue{href: url("/client/#{c.id}")}= c.username
        %td
          %span.small.dark
            = human_date_short(acc.created)
            = " "
            = human_time(acc.created)
        %td
          - if !c.is_beneficiary?(hb_bot)
            %a{href: url("/team/delete/#{c.id}")} Удалить
        %td
          %a{href: url("/revoke_token/#{c.id}")} Перевыпустить токен