%h2
  Реферальные
%p Здесь все клиенты, у кого есть заработанные реферальные.
%table{width: '100%'}
  %thead
    %tr
      %th{width: '20%'} # клиент
      %th{width: '15%'} привел
      %th продаж
      %th заработано
      %th выплачено
  %tbody.no-shadow
    - @list.each do |ac|
      - acc = Client[ac[:id]]
      - mst = acc.master
      %tr
        %td
          = icn('id')
          = acc.id
          %a.blue{href: url("/client/#{acc.id}")}= acc.username
        %td
          = !mst ? 'без реферала' : "[#{mst.id}] <b class='blue'>@" + mst.username+ "</b>"
        %td
          = prodazh(acc.sales)
        %td
          = hb_bot.amo(acc.ref_cash)
        %td
          = hb_bot.amo(acc.ref_paid)
        %td
          %button
            Выплатить
%p
  = pagina @list
