%h3
  Остатки в
  %b= @city.russian
  по
  =icn(@product.icon)
  =@product.russian
%table{width: '60%'}
  %thead
    %th{width: '70%'} Район
    %th{width: '10%'} Всего
    %th{width: '10%'} Продано
    %th{width: '10%'} Осталось
  %tbody
    - @districts.each do |d|
      - dist = District[d[:entity_id]]
      %tr
        %td
          = d[:entity_russian]
        %td
          - c = Item.where(district: dist.id, product: @product.id, bot: hb_bot.id)
          = c.count
        %td
          - c = Item.where(district: dist.id, product: @product.id, bot: hb_bot.id, status: Item::SOLD)
          = c.count
        %td
          - cnt = Rest.find(district: dist.id, product: @product.id, bot: hb_bot.id)
          = !cnt.nil? ? kladov(cnt.items): 'нет'
